# Ignore Python cache and environment
__pycache__/
venv/

# Ignore SQLite DB and instance files
instance/
*.db

# Ignore environment files
.env
.env.*

# Ignore OS and editor files
.DS_Store
.idea/
.vscode/
